
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html,body{
    background: #fdfdfd;
    height: 100%;
}

:root{
    --main-color: #2a2a83;
}

.input-container,
.input-container-btn{
    display: flex;
    flex-direction: column;
}

.input-container label{
    padding: 10px 0px;
}

.input-container input{
    border-radius: 4px;
    padding: .5rem;
    border: 1px solid #dddddd;
}

.input-container-btn{
    margin-top: 1rem;
}

.input-container-btn input[type='submit']{
    background-color: var(--main-color);
    padding: .7rem;
    color:#fff;
    border: none;
    border-radius: 4px;
}

.login{
    box-shadow: 1px 1px 1px 1px #ecebeb; 
    width:28vw;
    background: #fff;
}

.container-login{
    justify-content: center;
    display: flex;
    align-items: center;

    height: 100vh;
}

.header .img{
    padding: 40px 20px;
}

.header .img img{
    max-width: 12rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);

    box-shadow: 1px 1px 1px 1px #c1b8c1;
}

.body{
    padding: 50px 20px;
}

.body-sub{
    padding:20px 20px;
}

.container-link{
    padding: 20px 20px;
    text-align: center;
}

.container-link a{
    color: var(--main-color);
    font-weight: bold;
}

.header-menu{
    display: flex;
    justify-content: flex-start;
    padding:1.3rem;
}

.header-menu .logo h1{
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
}

.container-dados{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.content-finan{
    background: #fff;
    box-shadow: 1px 1px 1px 1px #dededf;
    width: 100%;
    height: 10vh;
}


.titulo{
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: bold;
}

.valor{
    float: right;
    font-weight: bold;
    font-size: 1.4rem;
}

.despesas{
    background: #e60000;
    color: #fff;
}

.receitas{
    background:green;
    color: #fff;
}

.saldo{
    background: var(--main-color);
    color: #fff;
}

.total{
    background:  rgb(238, 163, 24);
    color: #fff;
}

.titulo i{
    font-size: 1.5rem;
}

.titulo span{
    padding-left: 10px;
}

.extrato{
    padding: 10px 10px;
}

.titulo-container h1{
    font-size: 1.2rem;
    line-height: 4rem;
    color: #5a5a5a;
    font-weight: bold;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #d5d5dc;

    padding: 20px 20px;
    margin-bottom: 1rem;
}

.header-item {
    display: flex;
}

.header-item img{
    max-width: 2rem;
}

.header-desc{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.body-item span{
    font-weight: bold;
    font-size: 1rem;
}

.a{
    color: green;
}

.b{
    color: red;
}

.alert{
    text-align: center;
    font-size: 1rem;
    padding: 10px 10px;
}

.alert h1{
    font-size: 1.2rem;
}

.true{
    background: green;
    color:#fff;
}

.false{
    background: rgb(241, 15, 15);
    color:#fff;
}

.warning{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 50vh;

    text-align: center;
}

.warning img{
    max-width: 10rem;
}

.warning h1{
    color: #d8c9d8;
    font-size: 1.4rem;
    font-weight: bold;
}

.warning h2{
    color: #d8c9d8;
    font-size: 1rem;
}

@media screen and (min-width:620px){
    .container-dados{
        display: flex;
        flex-direction: row;
    }

    .content-finan{
        padding: 15px 10px;
    }
}